[tool.black]
line-length = 100
exclude = '''
/(
    \.venv  # Ignore virtual environment directory
    | \.git
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.nox
    | \.env
    | \.pytest_cache
    | \.venv
    | _build
    | buck-out
    | build
    | dist
    | unstructured/nlp/patterns\.py
)/|
unstructured/nlp/patterns\.py
'''

[tool.pyright]
pythonPlatform = "Linux"
pythonVersion = "3.10"
reportUnnecessaryCast = true
reportUnnecessaryTypeIgnoreComment = true
stubPath = "./typings"
typeCheckingMode = "strict"
verboseOutput = true

[tool.ruff]
line-length = 100
target-version = "py310"

[tool.ruff.lint]
ignore = [
    "COM812",   # -- over aggressively insists on trailing commas where not desireable --
    "PT001",    # -- wants empty parens on @pytest.fixture where not used (essentially always) --
    "PT011",    # -- pytest.raises({exc}) too broad, use match param or more specific exception --
    "PT012",    # -- pytest.raises() block should contain a single simple statement --
    "SIM117",   # -- merge `with` statements for context managers that have same scope --
]
select = [
    "C4",       # -- flake8-comprehensions --
    "COM",      # -- flake8-commas --
    "E",        # -- pycodestyle errors --
    "F",        # -- pyflakes --
    "I",        # -- isort (imports) --
    "PLR0402",  # -- Name compared with itself like `foo == foo` --
    "PT",       # -- flake8-pytest-style --
    "SIM",      # -- flake8-simplify --
    "UP015",    # -- redundant `open()` mode parameter (like "r" is default) --
    "UP018",    # -- Unnecessary {literal_type} call like `str("abc")`. (rewrite as a literal) --
    "UP032",    # -- Use f-string instead of `.format()` call --
    "UP034",    # -- Avoid extraneous parentheses --
    "W",        # -- Warnings, including invalid escape-sequence --
]

[tool.codeflash]
module-root = "unstructured"
tests-root = "test_unstructured"
test-framework = "pytest"
ignore-paths = []
formatter-cmds = ["ruff check --exit-zero --fix-only $file", "autoflake --in-place $file", "black --line-length=100 $file"]

[tool.uv.sources]
codeflash = { path = "../codeflash", editable = true }

[dependency-groups]
dev = [
    "accelerate==1.12.0",
    "albucore==0.0.24",
    "albumentations==2.0.8",
    "annotated-types==0.7.0",
    "antlr4-python3-runtime==4.9.3",
    "anyio==4.11.0",
    "autoflake==2.3.1",
    "backoff==2.2.1",
    "beautifulsoup4==4.14.2",
    "black==25.11.0",
    "cachetools==6.2.2",
    "certifi==2025.11.12",
    "cffi==2.0.0",
    "charset-normalizer==3.4.4",
    "click==8.3.1",
    "codeflash",
    "coloredlogs==15.0.1",
    "contourpy==1.3.2",
    "coverage[toml]==7.12.0",
    "cryptography==46.0.3",
    "cycler==0.12.1",
    "cython==3.2.1",
    "dataclasses-json==0.6.7",
    "deepdiff==8.6.1",
    "deprecated==1.3.1",
    "effdet==0.4.1",
    "emoji==2.15.0",
    "et-xmlfile==2.0.0",
    "exceptiongroup==1.3.0",
    "execnet==2.1.2",
    "filelock==3.20.1",
    "filetype==1.2.0",
    "fire==0.7.1",
    "flake8==7.3.0",
    "flake8-print==5.0.0",
    "flatbuffers==25.9.23",
    "fonttools==4.61.0",
    "freezegun==1.5.5",
    "fsspec==2025.10.0",
    "google-api-core[grpc]==2.28.1",
    "google-auth==2.43.0",
    "google-cloud-vision==3.11.0",
    "googleapis-common-protos==1.72.0",
    "grpcio==1.76.0",
    "grpcio-status==1.76.0",
    "h11==0.16.0",
    "hf-xet==1.2.0",
    "html5lib==1.1",
    "httpcore==1.0.9",
    "httpx==0.28.1",
    "huggingface-hub==0.36.0",
    "humanfriendly==10.0",
    "idna==3.11",
    "imageio==2.37.2",
    "iniconfig==2.3.0",
    "jinja2==3.1.6",
    "joblib==1.5.2",
    "jsonpath-python==1.0.6",
    "kiwisolver==1.4.9",
    "langdetect==1.0.9",
    "lazy-loader==0.4",
    "liccheck==0.9.2",
    "lxml==6.0.2",
    "markdown==3.10",
    "markupsafe==3.0.3",
    "marshmallow==3.26.2",
    "matplotlib==3.10.7",
    "mccabe==0.7.0",
    "ml-dtypes==0.5.4",
    "mpmath==1.3.0",
    "msoffcrypto-tool==5.4.2",
    "mypy==1.18.2",
    "mypy-extensions==1.1.0",
    "nest-asyncio==1.6.0",
    "networkx==3.4.2",
    "nltk==3.9.2",
    "numpy==2.2.6",
    "olefile==0.47",
    "omegaconf==2.3.0",
    "onnx==1.19.1",
    "onnxruntime==1.23.2",
    "opencv-contrib-python==4.12.0.88",
    "opencv-python==4.12.0.88",
    "opencv-python-headless==4.12.0.88",
    "openpyxl==3.1.5",
    "opt-einsum==3.3.0",
    "orderly-set==5.5.0",
    "packaging==25.0",
    "paddlepaddle==3.2.2",
    "pandas==2.3.3",
    "pathspec==0.12.1",
    "pdf2image==1.17.0",
    "pdfminer-six==20250327",
    "pi-heif==1.1.1",
    "pikepdf==10.0.2",
    "pillow==12.0.0",
    "platformdirs==4.5.0",
    "pluggy==1.6.0",
    "proto-plus==1.26.1",
    "protobuf==6.33.1",
    "psutil==7.1.3",
    "pyasn1==0.6.1",
    "pyasn1-modules==0.4.2",
    "pyclipper==1.3.0.post6",
    "pycocotools==2.0.10",
    "pycodestyle==2.14.0",
    "pycparser==2.23",
    "pydantic==2.12.4",
    "pydantic-core==2.41.5",
    "pyflakes==3.4.0",
    "pygments==2.19.2",
    "pypandoc==1.16.2",
    "pyparsing==3.2.5",
    "pypdf==6.4.0",
    "pypdfium2==5.0.0",
    "pytest==9.0.1",
    "pytest-cov==7.0.0",
    "pytest-mock==3.15.1",
    "pytest-xdist==3.8.0",
    "python-dateutil==2.9.0.post0",
    "python-docx==1.2.0",
    "python-iso639==2025.11.16",
    "python-magic==0.4.27",
    "python-multipart==0.0.20",
    "python-oxmsg==0.0.2",
    "python-pptx==1.0.2",
    "pytokens==0.3.0",
    "pytz==2025.2",
    "pyyaml==6.0.3",
    "rapidfuzz==3.14.3",
    "regex==2025.11.3",
    "requests==2.32.5",
    "requests-toolbelt==1.0.0",
    "rsa==4.9.1",
    "ruff==0.14.6",
    "sacremoses==0.1.1",
    "safetensors==0.7.0",
    "scikit-image==0.25.2",
    "scipy==1.15.3",
    "semantic-version==2.10.0",
    "sentencepiece==0.2.1",
    "shapely==2.1.2",
    "simsimd==6.5.3",
    "six==1.17.0",
    "sniffio==1.3.1",
    "soupsieve==2.8",
    "stringzilla==4.2.3",
    "sympy==1.14.0",
    "termcolor==3.2.0",
    "tifffile==2025.5.10",
    "timm==1.0.22",
    "tokenizers==0.21.4",
    "toml==0.10.2",
    "tomli==2.3.0",
    "torch==2.9.1",
    "torchvision==0.24.1",
    "tqdm==4.67.1",
    "transformers==4.55.4",
    "types-click==7.1.8",
    "types-markdown==3.10.0.20251106",
    "types-requests==2.32.4.20250913",
    "types-tabulate==0.9.0.20241207",
    "typing-extensions==4.15.0",
    "typing-inspect==0.9.0",
    "typing-inspection==0.4.2",
    "tzdata==2025.2",
    "unstructured-client==0.25.9",
    "unstructured-inference==1.1.2",
    "unstructured-paddleocr==2.10.0",
    "unstructured-pytesseract==0.3.15",
    "urllib3==2.6.0",
    "weaviate-client>=4.19.0",
    "webencodings==0.5.1",
    "wrapt==2.0.1",
    "xlrd==2.0.2",
    "xlsxwriter==3.2.9",
]
